@charset "utf-8";
@import "system";



#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


#warp {
    opacity: 0;
}

header {
    top: -50px;
    transition: all 0.35s ease;

    .bg-nav-color {
        background: $mastercolor;
    }

    .info-text {
        color: #fff;
    }

    &.fixed {
      
            position: fixed;
            width: 100%;
            z-index: 10;
            top: 0;
            transition: all 0.35s ease;
         
     
    }

    .navbar-dark {

        .navbar-toggler {
            color: rgba(255,255,255,1);
            border-color: rgba(255,255,255,.1);
            font-size: 2rem;
            line-height: 48px;
            outline: none;
            padding: 0;

            &:focus {
                box-shadow:none;
            }
        }

        .navbar-toggler-icon {
            background-image: none;
            outline: none;
        }


    }
    
    
 


}




main {

    .row.py-lg-5{
        background: rgba(0,0,0,.5);
    }


    
.filter {

    margin-top: -25px;
   
    
    .btn {
        background:$mastercolor;
        font-size: $font*1.4;
        color: #fff;
        padding: 10px 25px;

    }

    @include mob(){
        justify-content: center !important;
    }
  
   
  
}


    h1.fw-light {
        color: #fff;
    }

    p {
        color: #fff;
    }

    p.card-text {
        color: #375267;
        text-align: center;
        font-size: $font*1.4;
        font-weight: bold;
    }

    .master-header {
        background: url(https://cdn.stocksnap.io/img-thumbs/960w/watch-phone_TQAYEGZPQZ.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        height: 509px;
      

    }

    border-left: 50px solid $mastercolor;
    border-right: 50px solid $mastercolor;

    @include mob(){

        border-left: 10px solid $mastercolor;
        border-right: 10px solid $mastercolor;

    }


    .btn-style {
        color: #333;
        font-size: $font*1.15;
        padding: 5px 100px;
        border: none;
        background-color: #FFE095;
        -webkit-box-shadow: 0 5px #ff9100;
        box-shadow: 0 5px #ff9100;
        text-align: center;
        border-radius: 5px;
        border: 1px solid #FF9100;
        transition: all 0.5s ease;


        &:hover {
            -webkit-transition: all .5s ease;
            font-weight: 500;
            transition: all .5s ease;
            text-decoration: none;
            -webkit-transform: translate(0,5px);
            transform: translate(0,5px);
            -webkit-box-shadow: 0 2px #e5a73f;
            box-shadow: 0 2px #e5a73f;
            background-color: #FFE095;
            color: #333;
            border-color: #FF9100;
        }
        
        
        }

       .card {
           & > a {
               min-height: 276px;
           }
       }
        
}





footer.text-muted.py-5 {
    border-left: 50px solid $mastercolor;
    border-right: 50px solid $mastercolor;
    border-bottom: 50px solid $mastercolor;

    @include mob(){

        border-left: 10px solid $mastercolor;
        border-right: 10px solid $mastercolor;
        border-bottom: 10px solid $mastercolor;

    }

  
}

#gotop {
    transform: translateY(0px) rotate(180deg);
    width: 35px;
    height: 35px;
    color: #00bcd4;
    display: block;
    animation: move 2s ease infinite;
}

@-webkit-keyframes move {

    50%{
        transform: rotate(180deg) translateY(15px);
    }

    100% {
        transform: rotate(180deg) translateY(0px);
    }
}